body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.greetings {
    text-align: center;
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.head a {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.head form button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.head form button:hover, .head a:hover {
    opacity: 0.8;
}
